.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
.top{
  display: flex;
  justify-content: space-between;

  align-items: center;
}

/* Light mode header styles. These will override the defaults when applied. */
.header-light {
  background-color: #EEE;
  color: black;
}
/* Dark mode header styles. These will override the defaults when applied. */
.header-dark {
  background-color: #282c34;
  color: white;
}


.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
